.fade-in-y {
    opacity: 0;
    transform: translateY(20px);
    animation: fade-in-y 0.5s forwards;
  }
  
  @keyframes fade-in-y {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .scale-up {
    transform: scale(0.8);
    opacity: 0;
    animation: scale-up 0.5s forwards;
  }
  
  @keyframes scale-up {
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .rotate {
    transform: rotate(-90deg);
    opacity: 0;
    animation: rotate 0.5s forwards;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(0);
      opacity: 1;
    }
  }
  
  .slide-in-right {
    transform: translateX(100%);
    opacity: 0;
    animation: slide-in-right 0.5s forwards;
  }
  
  @keyframes slide-in-right {
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
